/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    background: url('seamlessbg.png') repeat;
    background-position: center center;
    background-size: auto;
    color: #282828;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #282828;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Social media icon styling */
.social-media-icons {
    text-align: center;
    margin-top: 10px;
}

.social-media-icons a {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-media-icons a:hover {
    color: #06a0ff;
}

/* Logo styling */
.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: auto;
}

/* Navigation styling for desktop */
nav {
    background-color: #282828;
    padding: 10px 0;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    position: relative;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 20px;
    position: relative;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
}

.nav-links li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #00a0ff;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-links li a:hover::after {
    width: 100%;
}

.nav-links li a:hover {
    color: #00a0ff;
}

.nav-links li a:hover {
    background-color: #222;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Mobile Menu (collapsed by default) */
@media (max-width: 768px) {
    .services-section {
        flex-direction: column;
        max-width: 100%;
    }

    .services-image {
        width: 100%;
        height: auto;
        border-radius: 15px 15px 0 0;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #282828;
        padding: 20px;
        border-radius: 25px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .hero-widget-container {
        width: 100%;
    }
    .nav-links.open {
        display: flex;
    }

    .nav-links li a {
        color: white !important;
    }

    .nav-links li a:hover {
        color: #00a0ff !important;
    }

    #menu-box {
        display: block;
        background-color: #282828 !important;
        color: white !important;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        border-radius: 25px;
        cursor: pointer;
        margin: 0 auto;
        width: 90%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .logo {
        width: 120px;
    }

    nav {
        width: 90%;
        margin: 0 auto;
    }
}

/* Desktop Layout */
@media (min-width: 769px) {
    .menu-button {
        display: none;
    }

    .nav-links {
        display: flex;
    }

    .social-media-icons {
        margin-top: 10px;
        text-align: center;
    }
}

/* Contact form and map styling */
.contact-section {
    text-align: left;
    padding: 20px;
    display: flex;
    justify-content: center; /* Center the form and map */
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px; /* Add a small gap between the form and map */
}

.contact-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.contact-form, .map-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 48%; /* Each takes up half of the space on larger screens */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: auto;
    min-height: 450px; /* Adjust height based on contact form */
}

.map-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .contact-form, .map-section {
        width: 100%;
        min-height: auto;
    }
}

iframe {
    width: 100%;
    height: 350px;
    border: none;
    border-radius: 10px;
}

.address-section {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
}

.address-section h3 {
    color: #00baff;
    font-size: 24px;
    margin-bottom: 10px;
}

.phone-number {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.phone-number:hover, .phone-number:focus, .phone-number:active {
    text-decoration: none;
    color: inherit;
}

/* Form styling */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: vertical;
}

.send-button {
    background-color: #00baff;
    color: white;
    font-family: Roboto, sans-serif;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #009ed6;
}

/* Additional styling */
.hero-widget-container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Button styling */
.hero-button {
    display: inline-block;
    background-color: #fa534b;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #d1261e;
}

.hero-text {
    text-align: center;
}

.services-section {
    display: flex;
    align-items: stretch;
    margin: 40px auto;
    max-width: 1200px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.services-section .services-image {
    flex: 1;
}

.services-section .services-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.services-section .services-text-container {
    flex: 1;
    background-color: #fff;
    padding: 40px;
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services-section h3 {
    color: #fa534b;
    font-size: 28px;
    margin-bottom: 15px;
}

.services-section ul {
    list-style-type: none;
    padding-left: 0;
}

.services-section ul li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

/* Reverse the layout for sections with the 'reverse' class */
.services-section.reverse {
    flex-direction: row-reverse;
}

.services-section.reverse .services-image img {
    border-radius: 0 15px 15px 0;
}

.services-section.reverse .services-text-container {
    border-radius: 15px 0 0 15px;
}

/* Removing Google widget branding */
a[href*="elfsight.com/google-reviews-widget"] {
    display: none !important;
}

